[submodule "base"]
	path = base
	url = https://github.com/steinbergmedia/vst3_base.git
[submodule "cmake"]
	path = cmake
	url = https://github.com/steinbergmedia/vst3_cmake.git
[submodule "doc"]
	path = doc
	url = https://github.com/steinbergmedia/vst3_doc.git
[submodule "pluginterfaces"]
	path = pluginterfaces
	url = https://github.com/steinbergmedia/vst3_pluginterfaces.git
[submodule "public.sdk"]
	path = public.sdk
	url = https://github.com/steinbergmedia/vst3_public_sdk.git
[submodule "vstgui4"]
	path = vstgui4
	url = https://github.com/steinbergmedia/vstgui.git
